<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ project.name }}{% endblock %}</title>
    <meta name="author" content="Friends Of REDAXO">

    <!-- styles -->
    <link rel="stylesheet" href="{{ path('assets/css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600">
</head>

<body>

<header class="header" role="banner">
    <div class="header__menubutton">
        <button class="navigation-button">
            <i class="navigation-button__open">{{ source('assets/svg/bars.svg') }}</i>
            <i class="navigation-button__close">{{ source('assets/svg/times.svg') }}</i>
            <span class="navigation-button__title">Navigation</span>
        </button>
    </div>

    <div class="header__brand">
        <a href="{{ path('index.html') }}" title="Startseite">
            {{ source('assets/svg/r.svg') }}
            <span>phpDoc</span>
        </a>
    </div>

    <div class="header__search">
        <div class="searchfield">
            <input class="searchfield__input" type="text" name="q" placeholder="phpDoc durchsuchen">
            <i class="searchfield__icon">{{ source('assets/svg/search.svg') }}</i>
        </div>
    </div>

    <div class="header__options">
        <a class="header__link header__link--github" href="https://github.com/FriendsOfREDAXO/phpdoc">{{ source('assets/svg/github.svg') }}</a>
    </div>
</header>

<div class="sidebar">

    <div class="sidebar__header">
        <button class="fold-navigation">
            <i class="fold-navigation__expand">{{ source('assets/svg/expand.svg') }}</i>
            <i class="fold-navigation__compress">{{ source('assets/svg/compress.svg') }}</i>
            <span class="fold-navigation__title">Navigation klappen</span>
        </button>
    </div>

    <div class="sidebar__body">
        <nav class="navigation">
            <h6>Packages</h6>

            {% macro buildTree(root) %}
                {% for child in root.children|sort_asc %}
                <li class="navigation__item {% if child.children|length > 0  %}navigation__item--has-children{% endif %}">
                    {% if child.children|length > 0 %}
                        <a class="navigation__toggle">{{ child.name }}</a>
                        <div class="navigation__sub">
                            <ul class="navigation__list">
                                {{ _self.buildTree(child) }}
                            </ul>
                        </div>
                    {% else %}
                        <a class="navigation__link" href="{{ path(child) }}">{{ child.name }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            {% endmacro %}

            <ul class="navigation__list">
                {{ _self.buildTree(project.indexes.packages|first) }}
            </ul>

            <h6>Classes</h6>
            <ul class="navigation__list">
                {% for class in project.indexes.classes|sort_asc %}
                    <li class="navigation__item {% if class.children|length > 0  %}navigation__item--has-children{% endif %}">
                        <a class="navigation__link" href="{{ path(class) }}">{{ class.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <h6>Interfaces</h6>
            <ul class="navigation__list">
                {% for class in project.indexes.interfaces|sort_asc %}
                    <li class="navigation__item {% if class.children|length > 0  %}navigation__item--has-children{% endif %}">
                        <a class="navigation__link" href="{{ path(class) }}">{{ class.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <h6>Traits</h6>
            <ul class="navigation__list">
                {% for class in project.indexes.traits|sort_asc %}
                    <li class="navigation__item {% if class.children|length > 0  %}navigation__item--has-children{% endif %}">
                        <a class="navigation__link" href="{{ path(class) }}">{{ class.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <h6>Functions</h6>
            <ul class="navigation__list">
                {% for class in project.indexes.functions|sort_asc %}
                    <li class="navigation__item {% if class.children|length > 0  %}navigation__item--has-children{% endif %}">
                        <a class="navigation__link" href="{{ path(class) }}">{{ class.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <h6>Constants</h6>
            <ul class="navigation__list">
                {% for class in project.indexes.constants|sort_asc %}
                    <li class="navigation__item {% if class.children|length > 0  %}navigation__item--has-children{% endif %}">
                        <a class="navigation__link" href="{{ path(class) }}">{{ class.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>

</div>

<div class="body">

    <main class="content" aria-label="Content">
        <div class="content__section">
            {% block content %}Content{% endblock %}
        </div>
    </main>

    <footer class="footer">
        <div class="footer__section">
            <small class="timestamp">Stand: {{ "now"|date("d.m.Y H:i:s") }} Uhr</small>
        </div>
    </footer>

</div>

<div class="cover"></div>

<!-- scripts -->
<script src="{{ path('assets/vendor/pjax.js/pjax.min.js') }}"></script>
<script src="{{ path('assets/vendor/prism.js/prism.js') }}"></script>
<script src="{{ path('assets/js/script.js') }}"></script>

</body>

</html>